[submodule "neuron/nodes/neuron-registration"]
	path = neuron/nodes/neuron-registration
	url = https://github.com/NeuronInnovations/neuron-registration.git
[submodule "external"]
	path = external
	url = https://github.com/NeuronInnovations/neuron-gpt
