.DS_store
.config.json
.config.nodes.json
.config.runtime.json
.config.users.json
.dist
.jshintignore
.npm
.project
.sessions.json
.settings
.tern-project
.i18n-editor-metadata
*.backup
*.bak
*_cred*
coverage
credentials.json
flows*.json
nodes/node-red-nodes/
node_modules
public
locales/zz-ZZ
nodes/core/locales/zz-ZZ
!packages/node_modules
packages/node_modules/@node-red/editor-client/public
!test/**/node_modules
docs
!packages/node_modules/**/docs
.vscode
.nyc_output
sync.ffs_db
package-lock.json
.editorconfig
.idea
flow_examples/
// viso packages
viso-incident-creation-v2.0.4-dev/
viso-object-detection-tracking-v2.0.7-dev/
viso-object-detection-v6.0.8-dev/
viso-video-clip-capture-v2.0.2-dev/
viso-video-feed-video-file-v1.1.7-dev/
viso-video-view-v5.0.1-dev/
viso-visualizations-v2.1.10-dev/
region-selection-v1.0.1-dev/