.red-ui-panels {
    position: relative;

    & > div {
        // border: 1px solid red;
        box-sizing: border-box;
    }
}

.red-ui-panels-separator {
    border-top: 1px solid $secondary-border-color;
    border-bottom: 1px solid $secondary-border-color;
    height: 7px;
    box-sizing: border-box;
    cursor: ns-resize;
    background: $background-color url(images/grip.png) no-repeat 50% 50%;
}


.red-ui-panel {
    overflow: auto;
    height: calc(50% - 4px);
}
